/* ======= Base ======= */
html, body {
  height: 100%;
}

body {
  font-family: 'Merriweather Sans', arial, sans-serif;
  color: #666666;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 16px;
  line-height: 1.5;
  text-align: justify;
}

a {
  color: #3498db;
}
a:hover {
  text-decoration: underline;
  color: #2a8bcc;
}
a:focus {
  text-decoration: none;
}
.btn {
  border-radius: 0;
  cursor: pointer;
}

.btn .fa {
  margin-right: 5px;
}
.btn.focus, .btn:focus, .btn:hover {
  color: inherit;
  text-decoration: none;
}

.btn-cta {
  border: 0;
  color: #fff;
  cursor: pointer;
  position: relative;
  vertical-align: top;

  background: #bdc3c7;
  border-bottom: 2px solid #acb2b7;
  -webkit-box-shadow: inset 0 -2px #acb2b7;
  box-shadow: inset 0 -2px #acb2b7;
}

.btn-cta:focus {
  color: #fff;
}
.btn-cta:hover {
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);

  border-bottom-color: #898d90;
  -webkit-box-shadow: inset 0 -2px #898d90;
  box-shadow: inset 0 -2px #898d90;
}
.btn-cta:active {
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
  outline: none;
  top: 1px;
}

.btn-cta-sm {
  font-size: 12px;
  line-height: 14px;
  padding: 3px 6px;
}

.btn-cta-orange,
.btn-cta-primary {
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f39c12;
  border-bottom: 2px solid #e8930c;
  -webkit-box-shadow: inset 0 -2px #e8930c;
  box-shadow: inset 0 -2px #e8930c;
}
.btn-cta-orange:hover,
.btn-cta-primary:hover {
  border-bottom-color: #d7880b;
  -webkit-box-shadow: inset 0 -2px #d7880b;
  box-shadow: inset 0 -2px #d7880b;
}
.btn-cta-blue:hover,
.btn-cta-secondary:hover {
  border-bottom-color: #237ab5;
  -webkit-box-shadow: inset 0 -2px #237ab5;
  box-shadow: inset 0 -2px #237ab5;
}

.btn-cta-blue,
.btn-cta-secondary {
  background: #3498db;
  border-bottom: 2px solid #2a8bcc;
  -webkit-box-shadow: inset 0 -2px #2a8bcc;
  box-shadow: inset 0 -2px #2a8bcc;
}

.btn-cta-green:hover {
  border-bottom-color: #1f8c4c;
  -webkit-box-shadow: inset 0 -2px #1f8c4c;
  box-shadow: inset 0 -2px #1f8c4c;
}

.btn-cta-green {
  background: #2ecc71;
  border-bottom: 2px solid #27ae60;
  -webkit-box-shadow: inset 0 -2px #27ae60;
  box-shadow: inset 0 -2px #27ae60;
}

.btn-cta-red:hover {
  border-bottom: 2px solid #922c20;
  -webkit-box-shadow: inset 0 -2px #922c20;
  box-shadow: inset 0 -2px #922c20;
}

.btn-cta-red {
  background: #e74c3c;
  border-bottom-color: #c0392b;
  -webkit-box-shadow: inset 0 -2px #c0392b;
  box-shadow: inset 0 -2px #c0392b;
}

.btn-cta .fa { margin-right: 0; }

.header .main-nav .navbar-form { padding: 0 0 0 8px; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald";
  font-weight: bold;
}
.h1, .h2, .h3, h1, h2, h3 { margin-top: 32px; }
.h4, .h5, .h6, h4, h5, h6 { margin-top: 16px; }

.highlight { color: #f39c12; }
.input-group-addon {
  border-color: #ddd;
  border-radius: 0;
}
.form-control {
  border-color: #ddd;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.form-control::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #a6a6a6;
}
.form-control:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #a6a6a6;
}
.form-control::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #a6a6a6;
}
.form-control:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #a6a6a6;
}
.form-control:focus {
  border-color: #e1e1e1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.img-border {
  border: 2px solid #eea740;
}
.img-border:hover {
  border-color: #ec9c29;
}
.img-h3-padding {
  margin-top: 68px;
}

.nav .nav-item {
  margin-bottom: 0;
}
.nav>li>a {
  padding-left: 4px;
  padding-right: 4px;
}
.text-highlight {
  color: #217997;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"],
input[type="button"],
textarea,
select {
  appearance: none;
  /* for mobile safari */
  -webkit-appearance: none;
}
li, li > p {
  margin-bottom: 8px;
}
#topcontrol {
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 36px;
  height: 34px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  z-index: 30;


  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #f39c12;
  border: 0;
  border-bottom: 2px solid #e8930c;
  -webkit-box-shadow: inset 0 -2px #e8930c;
  box-shadow: inset 0 -2px #e8930c;
  bottom: 8px;
  position: fixed;
  right: 8px;
}
#topcontrol:hover {
  border-bottom-color: #d7880b;
  -webkit-box-shadow: inset 0 -2px #d7880b;
  box-shadow: inset 0 -2px #d7880b;
  cursor: pointer;
}
#topcontrol:active {
  bottom: 7px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#topcontrol .fa {
  position: relative;
  top: 3px;
  font-size: 25px;
}
.google-calendar iframe {
  max-width: 100%;
  width: 100%;
  height: 480px;
}

.blog-container {
  max-width: 991px;
}

.blog-container img {
  margin-bottom: 16px;
}

.blog-summary .blog-title {
  margin-bottom: 4px;
}

.blog-date {
  color: #888;
  font-size: 12px;
}

.blog-tags {
  color: #888;
  font-size: 12px;
}

/* Images in the blog are centered */
.img-center{
  margin: auto auto;
}

.blog-tags .blog-tag:after { content: ", "; }
.blog-tags .blog-tag:last-child:after { content: ""; }

/* ======= Homepage Headline Background & Slideshow ======= */
.bg-slider-wrapper {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 650px;
  background: #595959;
}
/* ======= Header ======= */
.no-header-wrapper {
  height: 80px;
}
.header-wrapper-home {
  min-height: 480px;
}
.header-wrapper-work {
  background: #666 url('../images/background/heading-background-1.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}
.header-wrapper-case-study {
  background: #666 url('../images/background/case-study-background-1.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}
.header-wrapper-about {
  background: #666 url('../images/background/heading-background-2.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}
.header-wrapper-contact {
  background: #666 url('../images/background/heading-background-4.jpg') no-repeat 50% top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 400px;
}

.header {
  color: #fff;
  width: 100%;
  z-index: 40;
  padding: 15px;
  background: rgba(48, 48, 48, 0.95);
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.header.navbar-fixed-top .navbar-collapse {
  padding-left: 15px;
  padding-right: 15px;
}
.header.header-shrink {
  padding: 0px 15px;
}
.header.header-shrink .main-nav .navbar-toggle {
  padding-top: 9px;
}
.header.header-shrink h1.logo {
  font-size: 20px;
  line-height: 2.4;
}
.header.header-shrink .main-nav .nav .nav-item {
  font-size: 12px;
}
.header h1.logo {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 800;
  font-size: 26px;
  float: left;
  line-height: 1.8;
}
.header h1.logo a {
  color: #fff;
}
.header h1.logo a:hover {
  text-decoration: none;
}
.header h1.logo a .highlight {
  color: #f39c12;
}

.header.header-shrink h1.logo img {
  height: 32px;
}
.header h1.logo img {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.header .main-nav .navbar-toggle {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  background: none;
  margin-right: 0;
  margin-top: 0;
  padding-top: 24px;
  position: absolute;
  right: 10px;
  top: 5px;
}
.header .main-nav .navbar-toggle:focus {
  outline: none;
}
.header .main-nav .navbar-toggle .icon-bar {
  background-color: rgba(255, 255, 255, 0.6);
  height: 3px;
}
.header .main-nav .navbar-toggle:hover .icon-bar {
  background-color: #fff;
}
.header .main-nav .nav .nav-item {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -ms-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 13px;
  margin-right: 15px;
}
.header .main-nav .nav .nav-item.active > a {
  color: #f39c12;
  background: none;
  font-weight: bold;
}
.header .main-nav .nav .nav-item a {
  color: #fff;
}
.header .main-nav .nav .nav-item a:hover {
  color: #e8930c;
  background: none;
}
.header .main-nav .nav .nav-item a:focus {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item a:active {
  outline: none;
  background: none;
}
.header .main-nav .nav .nav-item.active {
  color: #f39c12;
}
.header .main-nav .nav .nav-item.last {
  margin-right: 0;
}
.header .main-nav .nav.active {
  position: relative;
}
.header .main-nav .nav.active > a {
  background: #777;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
}
.header .main-nav .nav.active > a:before {
  content: "\f0d8";
  position: absolute;
  bottom: -8px;
  left: 0;
  text-align: center;
  font-family: FontAwesome;
  display: block;
  font-size: 12px;
  width: 100%;
}
.header .main-nav .nav.active > a.dropdown-toggle:before {
  display: none;
}
.header .main-nav .nav.open a {
  background: none;
}
.header .main-nav .nav .dropdown-menu {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  margin: 0;
  border: none;
  text-transform: none;
  min-width: 180px;
  background: #555;
}
.header .main-nav .nav .dropdown-menu:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #555;
  position: absolute;
  right: 30px;
  top: -10px;
}
.header .main-nav .nav .dropdown-menu a {
  border-bottom: 1px solid #444;
  padding: 8px 20px;
  color: #fff;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.header .main-nav .nav .dropdown-menu a:hover {
  background: #2a9bc1;
  color: #fff;
}
/* Override bootstrap default */
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background: none;
}

/* ======= Promo section ======= */
.promo-header {
  background-color: #222;
  max-height: 100vh;
  padding: 0!important;
}

.section:first-of-type {
  padding-top: 108px;
}

.section+.promo-header .intro,
.promo-header p {
  color: #fff!important;
}

.img-promo {
  width: 100%;
  float: left;
  margin-right: -100%;
  position: relative;
  display: block;
}

.promo {
  color: #fff;
  padding-top: 160px!important;
}
.promo .title {
  font-size: 36px;
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
  margin-top: 0;
  text-transform: uppercase;
}
.promo .intro {
  max-width: 700px;
  margin: 0 auto;
  font-size: 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
/* ======= Home Promo section ======= */
.home-promo {
  color: #fff;
  padding-top: 160px;
  position: relative;
  z-index: 10;
}
.home-promo .title {
  font-size: 26px;
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  margin-bottom: 45px;
  text-transform: uppercase;
}
.home-promo .title span {
  display: block;
}
.home-promo .title .middle {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 56px;
  color: #f39c12;
}
.home-promo .title .bottom {
  font-family: 'Merriweather Sans', arial, sans-serif;
  font-style: italic;
  text-transform: lowercase;
  font-weight: 500;
}
.home-promo .btn {
  font-size: 20px;
  font-weight: normal;
}

/* ======= Who ======= */
.who {
  padding: 80px 0;
}
.who .title {
  font-size: 36px;
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  color: #555;
  margin-top: 0;
  margin-bottom: 30px;
}
.who .intro {
  margin: 0 auto;
  max-width: 700px;
  color: #666;
  font-size: 20px;
  margin-bottom: 60px;
  font-weight: 300;
}
.who .benefits .item {
  font-size: 16px;
  margin-bottom: 60px;
}
.who .benefits .item .fs1 {
  font-size: 36px;
  color: #666;
}
.who .benefits .item-inner {
  padding: 30px;
  padding-top: 45px;
  background: #f8f9fa;
}
.who .benefits .sub-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 15px;
  color: #555;
}
.who .benefits .desc {
  color: #666;
}
/* ======= Latest work ======= */
.latest-work {
  padding: 80px 0;
}
.latest-work .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
.latest-work .title {
  font-family: 'Open Sans Condensend', arial, sans-serif;
  font-weight: 800;
  font-size: 36px;
  color: #555;
  margin-top: 0;
  margin-bottom: 60px;
}
.latest-work .owl-wrapper {
  background: #303843;
}
.latest-work .item {
  background: #303843;
  color: #fff;
  min-height: 420px;
  text-align: center;
}
.latest-work .item .figure {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.latest-work .item .figure img {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  margin: 0 auto;
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
}
.latest-work .item .figure:hover img {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.latest-work .item .figure-container a {
  display: block;
  min-height: 260px;
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.latest-work .item .figure-container a:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.latest-work .item.item-1 .figure-container a {
  background: #666 url('../images/work/work-example-1.1.jpg') no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.latest-work .item.item-2 .figure-container a {
  display: block;
  background: #666 url('../images/work/work-example-2.1.jpg') no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.latest-work .item.item-3 .figure-container a {
  display: block;
  background: #666 url('../images/work/work-example-3.1.jpg') no-repeat 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.latest-work .item .content .content-inner {
  padding: 45px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
}
.latest-work .item .content .project-title {
  font-family: 'Oswald', arial, sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  display: inline-block;
  color: #fff;
}
.latest-work .item .content .meta {
  margin-bottom: 15px;
  font-weight: 300;
}
.latest-work .item .content .meta strong {
  color: #fff;
}
.latest-work .item .content .desc {
  margin-bottom: 30px;
}
.latest-work .item .content .link {
  margin-bottom: 5px;
}
.latest-work .item .content .link a {
  color: #909cb0;
}
.latest-work .item .content .link a:hover {
  color: #f39c12;
}
.latest-work .item .content .link .fa {
  color: #909cb0;
  margin-right: 5px;
}
/* override owl theme */
.owl-theme .owl-controls {
  margin-top: 30px;
  margin-bottom: 30px;
}
.owl-theme .owl-controls .owl-page span {
  background: #666;
}
.owl-theme .owl-controls .owl-buttons div {
  background: #666;
}
.owl-theme .owl-controls .owl-buttons div:hover {
  background: #818fa5;
}
/* ======= Testimonials ======= */
.testimonials {
  padding: 80px 0;
}
.testimonials .title {
  font-size: 36px;
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  color: #555;
  margin-top: 0;
  margin-bottom: 30px;
}
.testimonials .intro {
  max-width: 700px;
  color: #666;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 60px;
  font-size: 20px;
}
.testimonials .item {
  margin-bottom: 60px;
}
.testimonials .item .item-inner {
  padding: 30px;
}
.testimonials .item .quote-container {
  position: relative;
  margin-bottom: 30px;
}
.testimonials .item .quote-container .fa {
  color: #cbd1da;
  position: absolute;
  left: -35px;
  top: 0;
  font-size: 22px;
}
.testimonials .item .quote-container .quote {
  padding: 0;
  border-left: 0;
  font-style: italic;
  margin-bottom: 0;
}
.testimonials .item .meta .profile {
  overflow: hidden;
  float: left;
}
.testimonials .item .meta .profile img {
  float: left;
  margin-right: 15px;
}
.testimonials .item .meta .profile .name {
  font-size: 14px;
  float: left;
  margin-top: 25px;
  max-width: 200px;
  color: #666;
}
.testimonials .item .meta .profile .name .source-title {
  color: #999999;
}
.testimonials .item .meta .client-logo {
  float: right;
  max-width: 160px;
}
/* ======= logos ======= */
.logos {
  padding-bottom: 80px;
}
.logos .title {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 30px;
  color: #555;
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 700;
}
.logos .intro {
  color: #666;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 60px;
}
.logos .logo-list img {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.logos .logo-list img:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
/* ======= cta-section ======= */
.cta-section {
  background: #666 url('../images/background/cta-background.jpg') no-repeat left top;
  background-size: cover;
  min-height: 420px;
  color: #fff;
  padding-top: 80px;
}
.cta-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.cta-section .contact-info {
  font-size: 24px;
}
.cta-section .contact-info span {
  display: block;
  margin-bottom: 15px;
}
.cta-section .contact-info .intro {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  font-weight: 300;
}
.cta-section .contact-info .info {
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
}
.cta-section .contact-info a {
  color: #86cde5;
}
.cta-section .contact-info a:hover {
  color: #f39c12;
}
/* ======= Work-list section ======= */
.work-list {
  padding: 80px 0;
  background: #f5f5f5;
}
.work-list .title {
  font-size: 28px;
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  color: #555;
  margin-top: 0;
  margin-bottom: 30px;
}
.work-list .button-group {
  margin-bottom: 60px;
  font-size: 13px;
  clear: both;
}
.work-list .button-group .btn {
  background: #cbd1da;
  color: #fff;
  font-weight: 300;
  margin-right: 5px;
  margin-bottom: 15px;
}
.work-list .button-group .btn.last {
  margin-right: 0;
}
.work-list .button-group .btn:hover {
  background: #666;
}
.work-list .button-group .btn.is-checked {
  background: #666;
}
.work-list .item {
  margin-bottom: 60px;
}
.work-list .item .item-inner {
  background: #fff;
}
.work-list .item .sub-title a {
  color: #666;
}
.work-list .item .sub-title a:hover {
  color: #f39c12;
}
.work-list .item .figure {
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  overflow: hidden;
}
.work-list .item .figure img {
  -webkit-transition: transform 0.5s linear;
  -moz-transition: transform 0.5s linear;
  -ms-transition: transform 0.5s linear;
  -o-transition: transform 0.5s linear;
}
.work-list .item .figure .info-mask {
  text-decoration: none;
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  padding: 30px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(48, 56, 67, 0.9);
}
.work-list .item .figure .info-mask span {
  display: block;
  margin-bottom: 15px;
  color: #fff;
}
.work-list .item .figure .info-mask span.btn {
  display: inline-block;
}
.work-list .item .figure .info-mask span.btn:hover {
  background: #ec9c29;
}
.work-list .item .figure:hover .info-mask {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.work-list .item .figure:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.work-list .item .content {
  padding: 30px;
}
.work-list .item .content .sub-title {
  font-size: 16px;
  margin: 0;
  margin-bottom: 15px;
}
.work-list .item .content .meta {
  font-size: 14px;
  color: #999999;
}
/* ======= Case Study ======= */
.breadcrumbs {
  margin-top: 15px;
  font-size: 13px;
  color: #c6c6c6;
}
.breadcrumbs a {
  color: #c6c6c6;
}
.breadcrumbs a:hover {
  color: #f39c12;
}
.breadcrumbs .breadcrumbs-list li {
  padding-right: 0;
}
.breadcrumbs .fa {
  margin-left: 5px;
  display: inline-block;
}
.case-study-article {
  padding: 80px 0;
}
.case-study-article .project-title {
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  margin-bottom: 30px;
  color: #555;
}
.case-study-article .project-type {
  color: #666;
  margin-bottom: 60px;
  margin-top: 0;
  font-size: 22px;
  font-weight: 300;
}
.case-study-article .project-type .dot {
  font-size: 48px;
  position: relative;
  top: 8px;
}
.case-study-article .content-wrapper .meta {
  margin-bottom: 30px;
}
.case-study-article .content-wrapper .content-section {
  margin-bottom: 30px;
}
.case-study-article .content-wrapper .section-title {
  color: #666;
  font-size: 20px;
  font-weight: bold;
}
.case-study-article .media-wrapper img {
  background: #252b35;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  border: 1px solid #eeeeee;
}
.case-study-article .media-wrapper img:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.case-study-article .media-wrapper .featured {
  margin-bottom: 30px;
}
.case-study-article .media-wrapper .thumbs .item {
  margin-bottom: 15px;
}
.case-study-article .testimonial-wrapper {
  margin-top: 90px;
  padding: 60px 30px;
}
.case-study-article .testimonial-wrapper .testimonial-inner {
  max-width: 700px;
  margin: 0 auto;
}
.case-study-article .testimonial-wrapper .quote-container {
  position: relative;
  margin-bottom: 30px;
  color: #666;
  background: #f8f9fa;
  padding: 30px;
}
.case-study-article .testimonial-wrapper .quote-container .fa {
  color: #a5afbf;
  font-size: 22px;
}
.case-study-article .testimonial-wrapper .quote-container .quote {
  padding: 0;
  border-left: 0;
  padding-left: 30px;
  font-style: italic;
  margin-bottom: 30px;
}
.case-study-article .testimonial-wrapper .quote-container:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #f8f9fa;
  position: absolute;
  bottom: -15px;
  margin-left: -15px;
  left: 50%;
}
.case-study-article .testimonial-wrapper .meta {
  padding: 30px;
}
.case-study-article .testimonial-wrapper .meta .profile {
  overflow: hidden;
}
.case-study-article .testimonial-wrapper .meta .profile .name {
  margin-top: 25px;
}
.case-study-article .testimonial-wrapper .meta .profile .name .source-title {
  color: #999999;
}

.carousel, .carousel-inner, .carousel-inner > .item {
  max-height: 100vh;
}

.carousel {
  overflow: hidden
}

.carousel-banner {
  opacity: 0.3;
}

.carousel-caption { 
  font-size: 24px;
  padding-bottom: 48px;
}

/* ======= Services section ======= */
.services {
  padding: 80px 0;
}
.services .title {
  font-size: 28px;
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  color: #555;
  margin-top: 0;
  margin-bottom: 30px;
}
.services .intro {
  font-size: 20px;
  font-weight: 300;
  color: #666;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.services .item {
  margin-bottom: 30px;
}
.services .item-inner {
  background: #f8f9fa;
}
.services .item-inner .header-box {
  padding: 15px 30px;
  background: #909cb0;
  color: #fff;
}
.services .item-inner .header-box .fs1 {
  color: #fff;
  font-size: 28px;
  padding-top: 10px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 56px;
  height: 56px;
  border: 1px solid #fff;
}
.services .item-inner .sub-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  color: #555;
}
.services .item-inner .desc {
  padding: 30px 15px;
  color: #666;
}
.services .btn-cta {
  font-size: 16px;
  margin-top: 30px;
}

/* ======= About Us ======= */
.section {
  padding: 64px 0 32px 0;
}
.section .title {
  font-size: 36px;
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  color: #555;
  margin-top: 0;
  margin-bottom: 15px;
}

.section .title.space {
  margin-top: 64px;
}

.section .intro {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-weight: 300;
  color: #666;
  font-size: 20px;
}

.section+.section-highlight {
  background: #f5f5f5;
}
.section+.section-highlight .intro {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #666;
  font-weight: 300;
  font-size: 20px;
}
.section+.section-highlight .info {
  margin-bottom: 30px;
}
.section+.section-highlight .partner {
  margin-bottom: 30px;
}
.section+.section-highlight .partner .sub-title {
  margin-top: 0;
  margin-bottom: 15px;
  color: #555;
}

.team {
  padding: 80px 0;
}
.team .title {
  font-size: 36px;
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  color: #555;
  margin-top: 0;
  margin-bottom: 15px;
}
.team .intro {
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 60px;
  font-weight: 300;
  color: #666;
  font-size: 20px;
}
.team .item {
  margin-bottom: 30px;
}
.team .item .item-inner {
  background: #fff;
  background: #f5f5f5;
  background: #f8f9fa;
  padding: 30px;
  padding-bottom: 60px;
  overflow: hidden;
  position: relative;
}
.team .item .figure {
  margin-bottom: 30px;
}
.team .item .info {
  margin-bottom: 30px;
}
.team .item .info .name {
  margin-top: 0;
  color: #555;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: bold;
}
.team .item .info .role {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 15px;
  font-style: italic;
  color: #666;
}
.team .item .social {
  padding-top: 15px;
  width: 100%;
  margin-left: -30px;
  position: absolute;
  bottom: 30px;
}
.team .item .social .social-list {
  margin: 0 auto;
  margin-bottom: 0;
  width: 100%;
}
.team .item .social .social-list li a {
  display: inline-block;
  width: 36px;
  height: 36px;
  background: #bcc4d0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding-top: 8px;
}
.team .item .social .social-list li a:hover {
  background: #666;
}
.team .item .social .social-list li .fa {
  font-size: 18px;
  color: #fff;
}

.photos {
  padding: 80px 0;
}
.photos .title {
  font-size: 36px;
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  color: #555;
  margin-top: 0;
  margin-bottom: 15px;
}
.photos .intro {
  font-size: 18px;
  color: #666;
  font-size: 20px;
  margin-bottom: 60px;
  font-weight: 300;
}
.photos #instafeed {
  margin: 0 auto;
  display: inline-block;
}
.photos #instafeed .item {
  text-align: center;
  padding: 5px;
  background: #fff;
}
.photos #instafeed .item img {
  display: block;
  -webkit-transition: transform 0.4s linear;
  -moz-transition: transform 0.4s linear;
  -ms-transition: transform 0.4s linear;
  -o-transition: transform 0.4s linear;
}
.photos #instafeed .item:hover img {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
}
.pagination {
  margin-top: 90px;
}
.pagination li a {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  margin-right: 5px;
  color: #666;
}
.pagination li a:hover {
  color: #555;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #c6c6c6;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #909cb0;
  border: none;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eff8fb;
  border: none;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span,
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: none;
}
.custom-quote {
  border-color: #9bd5e9;
  font-weight: normal;
  font-style: italic;
}
.custom-quote p {
  font-size: 32px;
  line-height: 1.6;
}
.custom-quote .fa {
  color: #f39c12;
  margin-right: 10px;
}
.custom-quote .source {
  font-style: normal;
}
.custom-quote .source .name {
  color: #999;
}
.custom-quote .source .title {
  font-size: 13px;
  color: #999999;
}
/* ======= Contact Page  ======= */
.contact-section {
  padding: 80px 0;
  color: #999999;
  background: #f5f5f5;
}
.contact-section .title {
  font-size: 36px;
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  color: #555;
  margin-top: 0;
  margin-bottom: 30px;
}
.contact-section .intro {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 60px;
  color: #666;
  font-weight: 300;
  font-size: 20px;
}
.contact-section .contact-info {
  margin-bottom: 60px;
}
.contact-section .contact-info li {
  margin-right: 60px;
  margin-bottom: 30px;
  font-family: 'Oswald', arial, sans-serif;
}
.contact-section .contact-info li a {
  color: #666;
}
.contact-section .contact-info li:last-child {
  margin-right: 0;
}
.contact-section .contact-info .fs1 {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  width: 48px;
  height: 48px;
  border: 1px solid #666;
  color: #666;
  font-size: 22px;
  padding-top: 5px;
  display: inline-block;
  margin-bottom: 15px;
  text-align: center;
}
.contact-section .contact-info .tel .fs1 {
  padding-top: 8px;
}
.contact-section .contact-form .error {
  color: #e65348;
  font-family: arial, sans-serif;
  display: block;
  font-size: 14px;
  text-align: left;
  padding-top: 5px;
  font-weight: 300;
}
/* ======= Map section ======= */
.map-section .title {
  font-size: 36px;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 30px;
}
.map-section .gmap-wrapper {
  position: relative;
}
.map-section .gmap-wrapper .map-overlay {
  position: absolute;
  background: #fff;
  border: 1px solid #eeeeee;
  padding: 30px;
  top: 30px;
  right: 30px;
}
.map-section .gmap-wrapper .map-overlay .title {
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 800;
  color: #666;
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 15px;
}
.map-section .gmap-wrapper .map-overlay .address {
  margin-bottom: 0;
  color: #666;
}
.map-section .gmap {
  height: 400px;
  text-align: left;
  font-weight: normal;
}
.map-section .gmap,
.map-section .gmap *,
.map-section .gmap *:before,
.map-section .gmap *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.map-section .gmap .title {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 15px;
  margin-top: 5px;
}
.map-section .gmap .gm-style-iw {
  width: 150px;
}
/* ======= Modal ======= */
.modal .modal-dialog {
  width: 760px;
}
.modal .modal-content {
  border-radius: 0;
}
.modal .modal-title {
  font-family: 'Oswald', arial, sans-serif;
  color: #fff;
}
.modal .modal-body {
  padding: 32px;
}
.modal .modal-header {
  border: none;
  background-color: #333;
}

.modal .modal-header .close {
  color: #fff;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  opacity: 1;
}

.modal-header-green {
  background: #2ecc71 !important;
  color: #fff;
}


.modal-header-red {
  background: #e74c3c !important;
  color: #fff;
}

/* ======= Bootstrap Image Gallery ======== */
.blueimp-gallery {
  background: rgba(16, 19, 23, 0.9);
}


/*
** FOOTER
*/

.footer .footer-content {
  background: #333;
  color: rgba(255, 255, 255, 0.5);
  padding: 30px 0;
  padding-bottom: 30px;
  font-size: 14px;
}
.footer a {
  color: #f39c12;
}
.footer a:hover {
  color: #e8930c;
}
.footer .footer-content .sub-title {
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Oswald', arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 30px;
}
.footer .footer-content .links-col li {
  margin-bottom: 10px;
}
.footer .footer-content .blog-col .item {
  margin-bottom: 30px;
  position: relative;
  padding-left: 75px;
  padding-right: 30px;
}
.footer .footer-content .blog-col .item .post-title {
  font-size: 14px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.8);
}
.footer .footer-content .blog-col .item .figure {
  position: absolute;
  left: 0;
  top: 0;
}
.footer .footer-content .blog-col .item .intro {
  margin-bottom: 5px;
}
.footer .footer-content .blog-col .item .meta {
  color: rgba(255, 255, 255, 0.2);
}
.footer .footer-content .contact-col .fs1 {
  font-size: 20px;
  margin-right: 10px;
  line-height: 1.5;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.8);
}
.footer .footer-content .contact-col .adr {
  padding-left: 45px;
  position: relative;
}
.footer .footer-content .contact-col .adr .fs1 {
  position: absolute;
  left: 15px;
  top: 0;
}

.footer .footer-image {
  height: 42px;
  margin: 8px 0;
}

.footer .bottom-bar {
  background: #222;
  color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  text-align: center;
}
.footer .bottom-bar .copyright {
  display: block;
  font-size: 13px;
}
.footer .social-icons {
  margin: 0 auto;
}
.footer .social-icons li {
  margin-bottom: 15px;
}

/*
** SOCIAL ICONS
*/

.social-icons {
  list-style: none;
  padding: 10px 0;
  margin: 0 auto;
  margin-bottom: 25px;
  display: inline-block;
}
.social-icons li {
  float: left;
}
.social-icons li.last {
  margin-right: 0;
}
.social-icons a {
  display: inline-block;
  background: #455061;
  background: #444;
  width: 36px;
  height: 36px;
  text-align: center;
  padding-top: 7px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  font-size: 16px;
  margin-right: 10px;
  float: left;
}
.social-icons a:hover {
  background: #555;
}
.social-icons a:hover .fa {
  color: #fff;
}
.social-icons a .fa {
  color: rgba(255, 255, 255, 0.6);
}
.social-icons a .fa:before {
  font-size: 18px;
  text-align: center;
  padding: 0;
}

/*
** SPONSORS / SEEDERS
*/

.spnsr-logo {
  height: 64px;
  margin: 16px;
}

.table-seeders {
}

.table-seeders td {
  line-height: 24px!important;
}

.trophy .fa {
  color: #ffcc22;
  font-size: 24px;
}

.trophy .fa+.fa {
  margin-left: 4px;
}

/*
** VIDEO
*/

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.video-container iframe, .video-container object, .video-container embed {
  height:100%;
  left:0;
  position:absolute;
  top:0;
  width:100%;
}

/* extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .config-wrapper { display: none; }
  .header h1.logo {
    font-size: 20px;
    line-height: 2.4;
  }
  .navbar-collapse {
    border-top: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    width: 100%;
    left: 0;
    top: 48px;
    position: absolute;
    background: #444;
    z-index: 45;
  }
  .navbar-collapse .nav { margin: 0; }
  body.no-header-wrapper { padding-top: 50px; }
  .header-wrapper-home { min-height: 560px; }
  .header .main-nav .nav .nav-item { margin-right: 0; }
  .header .main-nav .nav .dropdown-menu {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    width: 100%;
    padding: 0;
  }
  .header .main-nav .nav .dropdown-menu:before { display: none; }
  .header h1.logo img { height: 32px; }
  .navbar-fixed-top .navbar-collapse,
  .navbar-fixed-bottom .navbar-collapse { max-height: inherit; }
  .nav-tabs > li > a { padding: 10px 5px; }
  .main-nav .navbar-collapse .navbar-nav {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .home-promo { padding-top: 80px; }
  .promo { padding-top: 100px; }
  .header-wrapper-home { min-height: 460px; }
  .promo .title .middle { font-size: 38px; }
  .section .title { font-size: 26px; }
  .cta-section .contact-info {
    font-size: 20px;
  }
  .home-promo .title span {
    font-size: 22px;
  }
  .home-promo .title .middle {
    font-size: 36px;
  }
  .home-promo .title .bottom {
    font-size: 22px;
  }
  .contact-section .contact-info li {
    margin-right: 0;
  }
  .modal .modal-dialog {
    width: auto;
  }
  .modal .modal-dialog .intro {
    font-size: 16px;
  }
  .modal.modal-contact .modal-title {
    font-size: 22px;
  }
  .modal .modal-body {
    padding: 15px 30px;
  }
  .modal.modal-contact .contact-info li {
    margin-right: 0;
  }
  .bg-slider-wrapper {
    height: 460px;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  .config-wrapper { display: none; }
  .header h1.logo img { height: 32px; }
  .header .main-nav .nav .nav-item { margin-right: 8px; }
  .modal .modal-dialog { width: 660px; }
  .latest-work .item .figure-container a { min-height: 440px; }
}
/* medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .config-wrapper { display: block; }
  .main-nav { float: right !important; }
  .navbar-form .form-control { width: 280px; }
  .header h1.logo {
    float: left;
    margin: inherit;
  }
  .header h1.logo img { height: 48px; }
  .header .main-nav .navbar-form { padding: 0 0 0 16px; }
  .header .main-nav .nav .nav-item { margin-right: 8px; }
  .main-nav.navbar-right { float: right !important; }
  .navbar-fixed-top .navbar-collapse {
    padding-left: 15px;
    padding-right: 15px;
  }
  .modal .modal-dialog { width: 760px; }
  .latest-work .item .figure-container a { min-height: 440px; }
}
/* large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .latest-work .item .figure-container a { min-height: 520px; }
}
