[Unit]
Description=Ballarat Hackerspace website daemon
Requires=network.target
Requires=nginx.service
After=network.target
# put here other service requirements

[Service]
SyslogIdentifier=bhackd
PIDFile=/var/run/bhackd.pid
ExecStart=/usr/bin/hypnotoad -f /srv/ballarathackerspace.org.au/bhackd
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=bhackd.service
